/* use this code inside your css file */
div.st-emotion-cache-1xarl3l.e1i5pmia1{
    background-color: #f5f5f5;
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: #ffc300;
    box-shadow: 10px;
    text-align: center;
}

div.st-emotion-cache-1xarl3l.e1i5pmia1{
background-color: #f5f5f5;
border: 1px solid; /* #900c3f */
border-radius: 50px;
padding: 10px 10px 10px 10px;
color: rgb(0, 68, 255);
}

/* Bold text */
div.st-emotion-cache-1xarl3l.e1i5pmia1{
font-weight: 900;
}